<div>




    <div class="w-full bg-red-600 absolute top-20 flex justify-center items-center h-24 z-50">
        <p class="uppercase">Bientôt disponible</p>
    </div>




    <div class="max-w-[1350px] flex, mx-auto relative">
        <div class="h-[75px] flex items-center pt-10 mx-2">
            <h1 class="uppercase font-bold text-2xl">Abonnement coaching</h1>
        </div>



        <div>
            <div class="flex justify-center text-white items-center h-[80vh]">
                <div class="card__container h-[30rem] w-72 mx-2  rounded-md flex flex-col justify-around">

                    <div>
                        <div class="font-bold text-xl flex justify-center h-20 items-center  max-w-[200px] mx-auto">
                            Niveau 1
                        </div>

                        <div class="flex flex-col max-w-[200px] mx-auto">
                            <span>- Suivi sportif</span>
                            <span>- Suivi nutrition</span>
                            <span>- Durée : <span class="font-bold text-cyan-600">3 mois</span></span>
                        </div>

                    </div>

                    <div class="flex flex-col">
                        <div class="max-w-[200px] mx-auto py-6">
                            89.99 €
                        </div>

                        <div class="flex justify-center">
                            <button class="btn-boutique text-white p-2 rounded-md w-48">S'abonner</button>
                        </div>
                    </div>
                </div>


                <div class="card__container h-[34rem] w-72 mx-2  rounded-md flex flex-col justify-around">

                    <div>
                        <div class="font-bold text-xl flex justify-center h-20 items-center  max-w-[200px] mx-auto">
                            Niveau 2
                        </div>

                        <div class="flex flex-col max-w-[200px] mx-auto">
                            <span>- Suivi sportif</span>
                            <span>- Suivi nutrition</span>
                            <span>- Mobilité</span>
                            <span>- Durée : <span class="font-bold text-cyan-600">6 mois</span></span>
                        </div>

                    </div>

                    <!-- <div>
                        <div>
                            Offre la plus avantageuse
                        </div>
                    </div> -->

                    <div class="flex flex-col">
                        <div class="max-w-[200px] mx-auto py-6">
                            79.99 €
                        </div>

                        <div class="flex justify-center">
                            <button class="btn-boutique text-white p-2 rounded-md w-48">S'abonner</button>
                        </div>
                    </div>
                </div>
                <div class="card__container h-[30rem] w-72 mx-2 rounded-md flex flex-col justify-around">

                    <div>
                        <div class="font-bold text-xl flex justify-center h-20 items-center  max-w-[200px] mx-auto">
                            Niveau 3
                        </div>

                        <div class="flex flex-col max-w-[200px] mx-auto">
                            <span>- Suivi sportif</span>
                            <span>- Suivi nutrition</span>
                            <span>- Mobilité</span>
                            <span>- Méthodes de préparation</span>
                            <span>- Durée : <span class="font-bold text-cyan-600">1 an</span></span>
                        </div>
                    </div>

                    <div class="flex flex-col">
                        <div class=" max-w-[200px] mx-auto py-6">
                            69.99 €
                        </div>

                        <div class="flex justify-center">
                            <button class="btn-boutique text-white p-2 rounded-md w-48">S'abonner</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>