<div class="bg-black ">
    <div class="image__container flex items-center justify-around flex-wrap pb-10 ">
        <!-- <img src="../../assets/images/homewallpapercross.jpg" alt="homewallpaper" class=""> -->
        <div
            class="h-[30rem] flex flex-col justify-evenly max-sm:items-center home_text_presentation py-5 max-sm:w-[300px]">
            <h1
                class="text-6xl w-[900px] font-bold  text-white max-lg:text-5xl max-lg:w-[700px] max-md:w-[500px] max-md:text-4xl max-sm:w-[300px] max-sm:text-2xl">
                <span class="uppercase text-blue-600">Poutchi</span> crée des programmes sur mesure afin que vous
                atteigniez vos objectifs
            </h1>
            <h2 class="text-gray-200  text-l max-w-md">

                Que vous recherchiez un programme de remise en forme, de préparation physique pour une compétition, ou
                simplement que vous souhaitiez rester en forme, <span
                    class="uppercase text-blue-600 font-bold">Poutchi</span> est
                là pour vous.
            </h2>

            <span class=" text-blue-600">Réservez <span class="text-white">votre coaching dès
                    maintenant !</span></span>

            <div class="">
                <a href="mailto:poutchicoaching@gmail.com">
                    <button routerLink="/coaching"
                        class="rounded-lg mr-3 font-bold bg-blue-700 text-white transition duration-300 p-2 w-44 h-14 max-sm:w-36 hover:bg-blue-800 ">
                        Réservation
                        <fa-icon [icon]="faEnvelope" class="pl-1.5"></fa-icon>
                    </button>
                </a>
                <button
                    class="rounded-lg text-white font-bold bg-gray-800 transition duration-300 p-2 w-44 h-14 max-sm:w-36">
                    <span class="text-green-600 pr-1.5">●</span>Disponible
                </button>

            </div>
        </div>

        <div>
            <!-- <object data="../../../assets/svg/personnal_trainer.svg" class="max-md:w-96 max-sm:w-80" width="500"
                height="500"></object> -->
            <img src="../../assets/images/image0.png" width="300" alt="">
        </div>
    </div>

    <app-programme>
    </app-programme>

    <app-deroulement-coaching></app-deroulement-coaching>
</div>