<div class="bg-black ">



    <!-- 
    <div class="w-full bg-red-600 absolute top-20 flex justify-center items-center h-24 z-50">
        <p class="uppercase">Bientôt disponible</p>
    </div> -->

    <div class="image__container flex items-center justify-around flex-wrap pb-10 min-h-[800px]">
        <!-- <img src="../../assets/images/homewallpapercross.jpg" alt="homewallpaper" class=""> -->
        <div class="h-[30rem] flex flex-col justify-between home_text_presentation py-5 max-lg:h-[22rem]">
            <h1
                class="text-6xl w-[900px] capitalize font-bold pl-4 text-white max-lg:text-5xl max-lg:w-[700px] max-md:w-[500px] max-md:text-4xl max-sm:w-[300px] max-sm:text-2xl">
                Je crée des programmes sur mesure afin que vous atteigniez vos objectifs
            </h1>
            <h2 class="text-gray-200 pl-4 text-l max-w-md">

                Que vous recherchiez un programme de remise en forme, de préparation physique pour une compétition, ou
                simplement que vous souhaitiez rester en forme, <span
                    class="uppercase text-blue-600 font-bold">Poutchi</span> est
                là pour vous. <span class="font-bold text-blue-600">Réservez votre coaching dès maintenant !</span>
            </h2>

            <div class="pl-4">
                <button routerLink="/coaching"
                    class="rounded-lg mr-3 font-bold bg-blue-700 text-white transition duration-300 p-2 w-44 h-14 hover:bg-blue-800 ">
                    Réservation
                    <fa-icon [icon]="faEnvelope" class="pl-1.5"></fa-icon>
                </button>
                <button class="rounded-lg text-white font-bold bg-gray-800 transition duration-300 p-2 w-44 h-14">
                    <span class="text-green-600 pr-1.5">●</span>Disponble
                </button>

            </div>
        </div>

        <div>
            <!-- <object data="../../../assets/svg/personnal_trainer.svg" class="max-md:w-96 max-sm:w-80" width="500"
                height="500"></object> -->
            <img src="../../assets/images/image0.png" width="300" alt="">
        </div>
    </div>

    <app-programme>
    </app-programme>

    <app-deroulement-coaching></app-deroulement-coaching>
</div>