<div class="min-h-[900px] presentation_coaching bg-black text-white">
    <div class="flex items-center justify-center flex-wrap">


        <div class="flex flex-col justify-start max-sm:mb-12">
            <h2 class="text-center font-bold py-10 text-5xl max-lg:text-3xl max-sm:text-2xl">Qui est <span
                    class="text-[#4169E1] w-full uppercase">Poutchi</span> ?</h2>


            <div class="flex justify-center items-center mb-10">
                <p
                    class="text-center leading-relaxed w-[800px] max-lg:w-[600px] max-sm:w-[300px] max-sm:text-justify text-gray-200">
                    Poutchi est un coach sportif passionné et déterminé. Avec une expérience solide dans le crossfit, la
                    salle et d'autres disciplines sportives, il aide ses clients à atteindre leurs objectifs de santé et
                    de forme physique. Ce qui le rend unique, c'est son propre parcours de transformation physique. Il a
                    réussi à perdre une trentaine de kilos, montrant ainsi sa détermination et sa discipline en matière
                    d'entraînement et d'alimentation saine. En plus de son expertise en matière de fitness, Poutchi est
                    également développeur web, ce qui lui permet d'apporter une perspective technique et créative à son
                    travail de coach. Il est prêt à aider tout le monde à se sentir mieux dans leur corps et à atteindre
                    leurs objectifs.
                </p>
            </div>

            <div class="flex justify-center z-10">
                <img src="../../../assets/images/presentation_transformation.jpg"
                    class="object-cover rounded-md max-md:w-96 max-sm:w-80" width="500" alt="illustration coaching">

            </div>
            <!-- <div class="">
                <button routerLink="/coaching"
                    class=" rounded-md bg-blue-600 text-white transition duration-300 p-2 w-28 hover:bg-blue-700">
                    Poutchi
                </button>
            </div> -->
        </div>

        <!-- <div class="overflow-hidden"> -->
        <!-- <div class="min-w-[600px] max-lg:hidden overflow-hidden rounded-full opacity-70 absolute h-[400px] bg-blue-500 left-[350px] z-0"
                id="shape-3">
            </div> -->
        <!-- <div class="min-w-[600px] overflow-hidden rounded-full opacity-70 absolute h-[600px] bg-blue-500 right-[700px] z-0"
                id="shape-1">
            </div> -->
        <!-- <div class="min-w-[350px] overflow-hidden rounded-full opacity-70 absolute h-[350px] bg-blue-500 right-[200px] z-0"
                id="shape-2">
            </div> -->


        <!-- </div> -->
    </div>

    <!-- <div class="custom-shape-divider-top-1675691209">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
        </svg>
    </div> -->
</div>