<!-- <div class="presentation_coaching--container">
    <div class=" w-2/4">
        <img src="../../../assets/images/presentation_coaching.jpg" alt="illustration coaching">
    </div>
    <div class=" flex-col w-2/4 items-end bg-red-900">
        <div>
            <h2>Poutchi s'occupe de tout pour ta transformation</h2>
        </div>
        <div>
            <p>
                tototo
            </p>
        </div>
        <div>
            <button>tat</button>
        </div>
    </div>
</div> -->