.text__description{
    display: none;
}

.top_vente__container{
    :hover{
        background-color: #fff;
        .text__description{
            display:block;
            position: absolute
        
        }
    }
}