.catalogue__container{
   
}
.image_container{
    height: 400px;
    img{
        object-fit: cover;
        
    }
}

.price{
    color: #4169E1
}

.btn-boutique{
    background-color: #4169E1;
        
    
}