<div class="px-20 catalogue__container max-w-[1350px] flex, mx-auto relative h-[850px]">
    <div class="flex justify-between mx-2 w-100 pt-8 flex-wrap align-middle items-end flex-col">
        <h2 class="font-bold text-2xl capitalize">Devenez le parfait Gymbro</h2>
        <p class="w-2/4">Nos meilleures ventes avec des logos réalisés par l'équipe Poutchi sur des tissus de bonne
            facture aux
            meilleurs prix</p>
    </div>

    <div class="flex py-10 top_vente__container">
        <div *ngFor="let itemCatalogue of catalogue" class="w-80
    rounded-md flex flex-col justify-center mx-2">
            <div class="bg-black rounded-md flex justify-center image_container">
                <img class="rounded-md" [src]="itemCatalogue.Image" alt="gymbro" (mouseover)="itemCatalogue.SecImage"
                    (mouseout)="itemCatalogue.Image">
            </div>
            <div class="text__description text-center pt-3">
                <span class="text-gray-400">{{itemCatalogue.Categorie}}</span>
                <h3 class="font-bold uppercase my-1">{{itemCatalogue.Title}}</h3>
                <span class="price font-bold my-1">{{itemCatalogue.Price}} €</span>
            </div>
        </div>
    </div>

    <div class="w-full flex justify-center pb-20 btn__container">
        <button routerLink="/boutique"
            class="rounded-md bg-blue-600 text-white transition duration-300 p-2 mx-2 w-36 hover:bg-blue-700">
            Voir la boutique
        </button>
    </div>
</div>