<div class="bg-gray-200 catalogue_homepage text-black max-lg:pt-12">
    <div class="px-20 max-sm:px-6 catalogue__container max-w-[1874px] flex, mx-auto relative">
        <div class="flex mx-2 w-100 pb-8 flex-wrap align-middle flex-col max-sm:h-[200px] lg:pt-12">
            <h2 class="font-extrabold text-blue-600 text-3xl capitalize max-sm:text-xl" data-aos="fade-down">Devenez le
                parfait Gymbro</h2>
            <p data-aos="fade-right" data-aos-delay="250" class="">Nos meilleures ventes avec des logos
                réalisés par
                l'équipe Poutchi sur des tissus de bonne
                facture aux
                meilleurs prix</p>
        </div>

        <div class="flex top_vente__container justify-center min-h-[600px] flex-wrap">
            <ng-container *ngFor="let itemCatalogue of catalogue;let i = index">
                <div *ngIf="i<4" class="w-80 max-sm:mb-10
                rounded-md flex flex-col justify-center mx-2 my-2 cursor-pointer">
                    <div class="rounded-lg flex justify-center image_container" data-aos="zoom-in-down"
                        data-aos-delay="">
                        <img (click)="displayDetails(i)" class="rounded-lg hover:scale-[1.02] transition-all"
                            [src]="itemCatalogue.Image" alt="gymbro" (mouseover)="itemCatalogue.SecImage"
                            (mouseout)="itemCatalogue.Image">
                    </div>
                    <div class="text__description text-center pt-3" data-aos="fade-up">
                        <!-- <span class="text-gray-400">{{itemCatalogue.Categorie}}</span> -->
                        <h3 class="font-bold uppercase my-1 text-gray-600">
                            {{itemCatalogue.Title}}</h3>
                        <span class="price font-bold my-1">{{itemCatalogue.Price}} €</span>
                    </div>
                </div>
            </ng-container>
        </div>

        <div class="w-full flex justify-center pb-28 btn__container">
            <button data-aos="fade-up" routerLink="/boutique"
                class="rounded-lg font-bold bg-blue-600 text-white transition duration-300 p-2 w-44 h-14 max-sm:w-38 max-sm:h-12 hover:bg-blue-700 ">
                Voir la boutique
            </button>
        </div>
    </div>
</div>