<div>
    <div class="navbar">
        <div class="logo">
            <!-- <span>LOGO</span> -->
            <a routerLink=""><span class="text-blue-500">Poutchi</span></a>
        </div>


        <div class="button__container">
            <ul>
                <li class="hover:font-medium"><a routerLink="">Accueil</a></li>
                <li class="hover:font-medium"><a routerLink="/boutique">Boutique</a></li>
                <li class="hover:font-medium"><a routerLink="/coaching">Coaching</a></li>
                <!-- <li>Motivation</li> -->
                <!-- <li>Contact</li>
                <li>
                    <button>Se connecter</button>
                </li> -->

            </ul>
        </div>

        <div class="button__container">
            <ul>
                <li>
                    <fa-icon [icon]="faCart" (click)="setStatus()"></fa-icon>
                    <!-- <i class="pi-shopping-cart"></i> -->
                </li>
            </ul>
        </div>


    </div>
</div>

<!-- <p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000">
    <h3>Right Sidebar</h3>
</p-sidebar> -->