<div class="">
    <div class="image__container flex items-center justify-around flex-wrap">
        <!-- <img src="../../assets/images/homewallpapercross.jpg" alt="homewallpaper" class=""> -->
        <div class="top-72 left-28 h-[30rem] flex flex-col justify-between home_text_presentation py-5">
            <h1 class="text-7xl w-[1000px] capitalize font-bold pl-4 text-black">
                <span class="uppercase poutchi-gang">Poutchi</span><br>Fournisseur officiel de coaching et de gymbros
                depuis 2023.
            </h1>
            <h2 class="text-gray-600 pl-4 text-l">
                Présent dans la région Liégeoise, Poutchi fournis les gymbros en
                équipement,
                motivation et coaching sportif</h2>

            <div class="pl-4">
                <button routerLink="/boutique"
                    class="rounded-md text-blue-600 font-bold border bg-white transition duration-300 p-2 w-28 hover:bg-blue-600 hover:text-white">
                    Coaching
                </button>
                <button routerLink="/boutique"
                    class="rounded-md bg-blue-600 text-white transition duration-300 p-2 mx-2 w-28">
                    Boutique
                </button>

            </div>
        </div>

        <div>
            <object data="../../../assets/svg/personnal_trainer.svg" width="500" height="500"></object>
        </div>
    </div>

</div>