<div class="bg-black">
    <div class="image__container relative">
        <img src="../../assets/images/homewallpapercross.jpg" alt="homewallpaper" class="">
        <div class="w-96 absolute top-72 left-28 h-80 flex flex-col justify-between home_text_presentation py-5">
            <h1 class=" text-white text-3xl font-bold pl-4">
                <span class="uppercase poutchi-gang">Poutchi Gang</span> <br>Fournisseur officiel de Gymbros depuis 2022
            </h1>
            <h2 class="text-white pl-4">Présent dans la région Liégeoise, Poutchi Gang fournis les gymbros en
                équipement,
                motivation et tracker
                de performance.</h2>

            <div class="flex justify-center">
                <button class="w-48 rounded-sm text-white btn-boutique transition duration-300 p-2">
                    Voir la boutique
                </button>
            </div>
        </div>
    </div>

</div>