.image__container{
    width: 100%;
    height: 1000px;
    
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

.btn-boutique{
    background-color: #4169E1;

}

.poutchi-gang{
    color:#4169E1;
    width: 100%;
    text-align: center;
    
}

.home_text_presentation{
    /* From https://css.glass */
    // background: rgba(255, 255, 255, 0.2);
    // border-radius: 16px;
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    // backdrop-filter: blur(5px);
    // -webkit-backdrop-filter: blur(5px);
    // border: 1px solid rgba(255, 255, 255, 0.3);
}

.custom-shape-divider-bottom-1675691085 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1675691085 svg {
    position: relative;
    display: block;
    width: calc(161% + 1.3px);
    height: 177px;
}

.custom-shape-divider-bottom-1675691085 .shape-fill {
    fill: #4169E1;
}