<div class="presentation bg-black">
    <div class="flex flex-col flex-wrap items-center xl:min-h-[1000px] justify-around">
        <div class="image__container mt-24 max-sm:mt-12 mb-12 flex flex-wrap items-center">
            <div
                class="z-30 h-[30rem] flex flex-col items-center text-center justify-evenly home_text_presentation py-3 ">
                <h1 data-aos="fade-right" data-aos-delay="150"
                    class="text-5xl w-[900px] flex flex-col font-bold text-white max-lg:text-5xl max-lg:w-[700px] max-md:w-[500px] max-md:text-4xl max-sm:w-[300px] max-sm:text-2xl">
                    <span class="text-6xl max-md:text-5xl w-full uppercase poutchi-gang mb-3">Poutchi</span> Fournisseur
                    officiel
                    de coaching
                    et de gymbros
                    depuis 2023
                </h1>
                <h2 class="text-gray-200 text-l max-w-md text-lg max-sm:px-4 max-md:text-base" data-aos="fade-right"
                    data-aos-delay="200">
                    Présent dans la région Liégeoise, <br>Poutchi fournis les gymbros en
                    coaching sportif,
                    motivation et équipements.</h2>

                <div class="" data-aos="fade-right" data-aos-delay="250">
                    <button routerLink="/coaching"
                        class="rounded-lg mr-3 font-bold bg-blue-600 text-white transition duration-300 p-2 w-44 h-14 max-sm:w-32 max-sm:h-12 hover:bg-blue-700 ">
                        Coaching
                    </button>
                    <button routerLink="/boutique"
                        class="rounded-lg text-blue-600 font-bold bg-white transition duration-300 p-2 w-44 h-14 max-sm:w-32 max-sm:h-12 hover:bg-gray-200 hover:border-none">
                        Boutique
                    </button>

                </div>
            </div>

            <div class="overflow-hidden">
                <div class="min-w-[600px] max-md:min-w-[400px] max-sm:min-w-[200px] overflow-hidden rounded-full opacity-70 absolute h-[600px] bg-blue-500 right-[600px] max-xl:right-[400px] max-lg:right-[300px] max-md:right-[200px] top-60 z-0 animate-blob"
                    id="shape-1">
                </div>
                <div class="min-w-[600px] max-md:min-w-[400px] max-sm:min-w-[200px] overflow-hidden rounded-full opacity-70 absolute h-[350px] bg-purple-500 right-[300px] max-xl:right-[200px] max-lg:right-[100px] max-md:right-[50px] bottom-20 z-0 animate-blob delay-200"
                    id="shape-2">
                </div>
                <div class="min-w-[500px] max-md:min-w-[400px] max-sm:min-w-[200px] overflow-hidden rounded-full opacity-70 absolute h-[400px] bg-pink-300 right-[400px] max-xl:right-[300px] max-lg:right-[200px] max-md:right-[200px] top-28 z-0 animate-blob delay-500"
                    id="shape-3">
                </div>

            </div>
        </div>

        <div class="z-30 max-md:min-h-[550px] max-sm:min-h-[300px] my-10 max-md:my-0 " data-aos="zoom-in"
            data-aos-delay="400">

            <img class="rounded-lg block border-solid mx-5" width="1000" src="../../../assets/images/poutchi_gang.jpg"
                alt="">


        </div>
    </div>


</div>