<div class="text-white bg-[#1d1d1d] px-20 pb-20">
    <div class="py-10">
        <div class="h-20 flex items-center ">
            <h2 class="text-blue-500 font-bold text-4xl">Comment prendre un coaching ?</h2>
        </div>


        <div class="h-20">
            <h3>Vous souhaitez prendre un coaching ou vous hésitez à le faire ?</h3>
            <span>Pas de panique, tout est explique ci-dessous</span>
        </div>
    </div>

    <div class="bg-white rounded-xl w-[50%] text-gray-800 px-10 pt-5 hover:scale-[1.01] transition-all">
        <div>
            <h3 class="font-bold text-xl"><span class="text-4xl text-blue-600">1. </span>Choisir son programme</h3>
        </div>

        <p class="p-10"> Pour commencer il est important de choisir le programme <span
                class="text-blue-600">adapté</span> pour votre objectif.
            Vous pouvez retrouver les différentes catégories dans la section un peu plus haut afin de savoir ce dont
            vous avez besoin.
            Si ce que vous recherchez ne s'y trouve pas, pas de panique. Il vous suffit de m'envoyer un mail avec vos
            besoins et je ferai de mon mieux pour vous aider !
        </p>
    </div>

    <div class="flex justify-end ">
        <div class=" py-10 my-10  bg-white rounded-xl text-gray-800 px-10 pt-5 hover:scale-[1.01] transition-all">
            <div class="text-end">
                <h3 class="font-bold text-xl"><span class="text-4xl text-blue-500">2. </span>Me contacter</h3>
            </div>
            <div class="p-10">
                <p class="">Ca y est, vous avez trouvé le programme qui vous convient. Il ne vous
                    reste plus qu'à me
                    contacter pour
                    réserver votre place.
                </p>
                <p>
                    Nous trouverons alors un horaire et un entraînement qui vous conviennent le mieux en fonction de ce
                    que
                    vous avez choisi.
                </p>
            </div>
        </div>
    </div>

    <div class="pb-10 w-[50%] bg-white rounded-xl text-gray-800 px-10 pt-5 hover:scale-[1.01] transition-all">
        <div>
            <h3 class="font-bold text-xl"><span class="text-4xl text-blue-500">3. </span>Mes tarifs</h3>
        </div>

        <div class="p-10">
            <p> Une fois que vous m'avez contacté, nous allons discuter de la tarification. Celle-ci
                varie entre <span class="text-blue-600">40€</span> et
                <span class="text-blue-600">80€</span> de l'heure en fonction de l'objectif à atteindre. En moyenne, une
                séance d'une heure coûte <span class="text-blue-600">50€</span>.
            </p>
            <p>Il est possible de procéder par abonnement si vous le souhaitez. Vous pouvez retrouver
                les tarifs des
                abonnements ci-dessous.</p>
        </div>
    </div>
</div>