<p-sidebar [(visible)]="display" position="right" class="flex item" styleClass="p-sidebar-md" [baseZIndex]="10000">
    <div>
        <ng-container class="bg-slate-400" *ngFor="let item of produitsStorage">
            <div class="flex items-center justify-between">
                <a routerLink="/boutique/produit/{{item.Id}}" target="_blank">
                    <div class="flex items-center">
                        <div class="p-5 m-5 bg-gray-200 rounded-md">

                            <img class="rounded-sm" src="{{item.Image}}" alt="{{item.Title}}" width="75">

                        </div>
                        <div class="my-5 ">
                            <h2 class="py-1 text-blue-600">{{item.Title}}</h2>
                            <p class="py-1">
                                {{item.Price}}€
                            </p>
                        </div>
                    </div>
                </a>

                <div>
                    <p>Quantité : 1</p>
                </div>

                <div class="pr-10">
                    <fa-icon class="hover:text-red-600 hover:cursor-pointer" (click)="deleteItem(item.Id)"
                        [icon]="faTrash"></fa-icon>
                </div>
            </div>
        </ng-container>
    </div>
    <div>
        <div>
            <ul>
                <li class="flex justify-between">
                    <h3 class="px-5">Sous-total</h3>
                    <span class="pr-10">{{sousTotal}}</span>
                </li>
                <li>
                    <h3 class="px-5">
                        Frais de port
                    </h3>
                    <span></span>
                </li>
                <li>
                    <h3 class="px-5">
                        Total
                    </h3>
                    <span>

                    </span>
                </li>
            </ul>
        </div>
    </div>
</p-sidebar>