<p-sidebar [(visible)]="display" position="right" class="flex item" styleClass="p-sidebar-md" [baseZIndex]="10000">
    <div>
        <ng-container class="bg-slate-400" *ngFor="let item of produitsStorage">
            <div class="flex items-center justify-between max-lg:block">
                <a routerLink="/boutique/produit/{{item.Id}}" target="_blank">
                    <div class="flex items-center">
                        <div class="p-5 m-5 bg-gray-200 rounded-md">
                            <img class="rounded-sm" src="{{item.Image}}" alt="{{item.Title}}" width="75">
                            <!-- <span class="absolute top-2 right-40">x</span> -->
                            <!-- TODO: Ajouter une croix sur l'image dans un corner, afin de supprimer l'articule. Cela permettrait de supprimer le bouton corbeille et de libérer de l'espace dans le cart. -->
                        </div>
                        <div class="my-5 flex flex-col">
                            <h2 class="py-1 text-blue-600">{{item.Title}}</h2>
                            <ng-container *ngFor="let taille of item.Taille">
                                <span class="py-1" *ngIf="taille.length == 1">Taille : {{taille}}</span>
                            </ng-container>

                            <span class="py-1">
                                Prix : {{item.Price * item.Quantity}} €
                            </span>
                        </div>
                    </div>
                </a>

                <div class="flex w-1/2 justify-evenly max-lg:w-full max-lg:justify-between max-lg:px-5">
                    <div class="">
                        <p>Quantité : <p-dropdown [options]="numbersArticle" [(ngModel)]="item.Quantity"></p-dropdown>
                        </p>
                    </div>

                    <div class="flex items-center">
                        <fa-icon class="hover:text-red-600 hover:cursor-pointer" (click)="deleteItem(item.Id)"
                            [icon]="faTrash"></fa-icon>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

    <ng-template pTemplate="footer">
        <div class="pb-5">
            <ul>
                <li class="flex justify-between">
                    <h3 class="px-5">Sous-total</h3>
                    <span class="pr-10">{{sousTotal}} €</span>
                </li>
                <li class="flex justify-between">
                    <h3 class="px-5">
                        Frais de port
                    </h3>
                    <span class="pr-10">{{fraisDePort}} €</span>
                </li>
                <li class="flex justify-between">
                    <h3 class="px-5">
                        Total
                    </h3>
                    <span class="pr-10">
                        {{total}} €
                    </span>
                </li>
            </ul>
        </div>

        <div class="w-full flex justify-end pr-6">
            <button routerLink="/panier" (click)="changeDisplayOfCart()"
                class="rounded-lg mr-3 font-bold bg-blue-600 text-white transition duration-300 p-2 w-32 h-12 hover:bg-blue-700 ">
                Payement
            </button>
        </div>
    </ng-template>
</p-sidebar>