<div class="flex flex-col w-[90%] m-auto">
    <div class="h-52 flex justify-center items-center">
        <h1 class="uppercase text-4xl font-extrabold">Politique de confidentialité

        </h1>
    </div>

    <div>
        <div class="pb-10">
            <p class="pb-5">
                Nous accordons une grande importance à la protection de la vie privée de nos clients et nous nous
                engageons
                à protéger toutes les informations personnelles que nous collectons. Cette politique de confidentialité
                explique quelles sont les informations que nous collectons, comment nous les utilisons et comment nous
                les
                protégeons.
            </p>
        </div>

        <div class="pb-10">
            <p class="pb-5">
                <strong>Collecte d'informations personnelles</strong>
            </p>

            <p class="pb-4">
                Nous collectons les informations personnelles suivantes lorsque vous créez un compte sur notre site web
                ou que vous passez une commande :
            </p>

            <ul class="list-disc pl-5">
                <li>Votre nom complet</li>
                <li>Votre adresse de livraison</li>
                <li>Votre adresse e-mail</li>
                <li>Votre numéro de téléphone</li>
            </ul>

            <p class="pt-4">
                Nous pouvons également collecter des informations sur votre navigation sur notre site web, telles que
                les pages que vous consultez et les produits que vous achetez. Nous utilisons ces informations pour
                améliorer notre site web et nos produits.
            </p>
        </div>

        <div class="pb-10">
            <p class="pb-5">
                <strong>Utilisation des informations personnelles</strong>
            </p>
            <p>
                Nous utilisons les informations personnelles que nous collectons pour traiter vos commandes, livrer vos
                achats, communiquer avec vous au sujet de votre commande et vous informer de nos promotions et offres
                spéciales.
            </p>

            <p>
                Nous ne partageons pas vos informations personnelles avec des tiers à des fins de marketing.
            </p>
        </div>

        <div class="pb-10">
            <p class="pb-5">
                <strong>Protection des informations personnelles</strong>
            </p>

            <p>
                Nous prenons des mesures de sécurité raisonnables pour protéger vos informations personnelles contre la
                perte, l'utilisation abusive et l'accès non autorisé, la divulgation, la modification ou la destruction.
            </p>
        </div>

        <div class="pb-10">
            <p class="pb-5">
                <strong>Droit d'accès et de rectification des informations personnelles

                </strong>
            </p>

            <p>
                Vous avez le droit d'accéder à vos informations personnelles et de les rectifier si elles sont
                inexactes. Pour exercer ce droit, veuillez nous contacter à l'adresse électronique indiquée ci-dessous.
            </p>
        </div>

        <div class="pb-10">
            <p class="pb-5">
                <strong>Contact</strong>
            </p>

            <p>
                Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité, veuillez
                nous contacter à l'adresse électronique suivante : "poutchishop@gmail.com"
            </p>
        </div>
    </div>
</div>