<div class=" bg-[#000000] flex flex-col justify-evenly pb-14">


    <!-- <div class=" w-full bg-red-600 absolute top-20 flex justify-center items-center h-24 z-50">
    <p class="uppercase">Bientôt disponible</p>
</div> -->

    <div class="image__container flex items-center justify-around flex-wrap pb-10 min-h-[800px]">
        <!-- <img src="../../assets/images/homewallpapercross.jpg" alt="homewallpaper" class=""> -->
        <div class="h-[30rem] flex flex-col justify-between home_text_presentation py-5 max-lg:h-[22rem]">
            <h1
                class="text-6xl w-[900px] capitalize font-bold pl-4 text-white max-lg:text-5xl max-lg:w-[700px] max-md:w-[500px] max-md:text-4xl max-sm:w-[300px] max-sm:text-2xl">
                <span class="uppercase text-blue-600">Poutchi</span> crée des vêtements de qualité afin que vous
                réalisiez de nouveaux PR!
            </h1>
            <h2 class="text-gray-200 pl-4 text-l max-w-md">

                Vous recherchez un vêtement de qualité pour vous entrainer? <br> <span
                    class="uppercase text-blue-600 font-bold">Poutchi</span> est
                là pour vous. <span class="font-bold text-blue-600"><br>Commandez vos vêtemetns dès maintenant !</span>
            </h2>

            <div class="pl-4">

                <button class="rounded-lg text-white font-bold bg-gray-800 transition duration-300 p-2 w-44 h-14">
                    <span class="text-green-600 pr-1.5">●</span>Stock disponible
                </button>

            </div>
        </div>

        <div>
            <!-- <object data="../../../assets/svg/personnal_trainer.svg" class="max-md:w-96 max-sm:w-80" width="500"
                height="500"></object> -->
            <img src="../../assets/images/gymbro.png" width="400" alt="">
        </div>
    </div>


    <div class="bg-gray-200">
        <div class="max-w-[1350px] bg-gray-200 flex, mx-auto relative">
            <div class="h-[75px] flex items-center pt-10 mx-2">
                <h1 class="uppercase font-bold text-2xl">Boutique</h1>
            </div>

            <div class="max-w-[1350px]">
                <div class="flex justify-center py-10 top_vente__container flex-wrap">
                    <div *ngFor="let itemCatalogue of catalogue; let i = index" (click)="displayDetails(i)" class="w-80 cursor-pointer
                rounded-md flex flex-col justify-center mx-2 pb-10">
                        <div
                            class="bg-black rounded-md flex justify-center image_container hover:scale-105 transition-all ease-in-out">
                            <img class="rounded-md" [src]="itemCatalogue.Image" alt="gymbro"
                                (mouseover)="itemCatalogue.SecImage" (mouseout)="itemCatalogue.Image">
                        </div>
                        <div class="text__description text-center pt-3">
                            <span class="text-gray-400">{{itemCatalogue.Categorie}}</span>
                            <h3 class="font-bold uppercase my-1">{{itemCatalogue.Title}}</h3>
                            <span class="price font-bold my-1">{{itemCatalogue.Price}} €</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>