<div class="mx-10 min-h-[calc(100vh-300px)]">
    <div class="w-full flex justify-center items-center h-52">
        <h1 class="font-bold text-4xl lg:text-6xl">Un problème s'est produit</h1>
    </div>

    <div class="flex flex-col items-center">
        <div class="pb-10 ">
            <p class="">Le paiement n'a pas pu être traité.</p>
            <p class="py-1">Vous pouvez retourner à la boutique en cliquant sur ce bouton</p>
            <a routerLink="">Accueil<button
                    class="mt-5 rounded-lg mr-3 font-bold bg-blue-600 text-white transition duration-300 p-2 w-32 h-12 hover:bg-blue-700 "></button></a>
        </div>


        <div class="flex flex-col justify-end py-10">
            <p>N'hésitez pas à nous contacter si vous avez des questions ou des commentaires.</p>
            <p>Vous pouvez le faire via cette adresse email : <span class="font-semibold">poutchishop@gmail.com</span>
            </p>
        </div>
    </div>
</div>