.taille-selected{
    background-color: rgb(37 99 235);
    color: white;
}


img::-moz-selection {
    background-color: transparent;
    color: #000;
}

img::selection {
    background-color: transparent;
    color: #000;
}

