<div class="flex py-10 top_vente__container justify-center flex-wrap">
    <div class="w-80
        rounded-md flex flex-col justify-center mx-2 my-2">
        <div class="bg-black rounded-md flex justify-center image_container">
            <img class="rounded-md" [src]="currentProducToDisplay.Image" alt="gymbro">
        </div>
        <div class="text__description text-center pt-3">
            <span class="text-gray-400">{{currentProducToDisplay.Categorie}}</span>
            <h3 class="font-bold uppercase my-1">{{currentProducToDisplay.Title}}</h3>
            <span class="price font-bold my-1">{{currentProducToDisplay.Price}} €</span>
        </div>
    </div>
</div>