<div class="bg-gray-200 programme_coaching flex flex-col justify-evenly pb-14">
    <div class="w-full flex justify-center items-center my-14">
        <h2 class="font-bold text-4xl">
            Ce que je propose
        </h2>
    </div>

    <div class="flex justify-center flex-wrap">
        <div class="w-[30rem] card bg-white rounded-xl h-[30rem] flex justify-center items-center flex-col m-3">

            <div class="py-5"><fa-icon [icon]="faRemiseForme" size="2xl"></fa-icon></div>
            <div class=" text-blue-600 font-semibold">Remise en forme</div>
            <div class="text-gray-600 w-[80%] py-5">
                <div class="pb-2">
                    Vous voulez <span class="font-semibold">perdre du poids</span>,
                    <span class="font-semibold">prendre du muscle</span> ou simplement
                    maintenir votre
                    <span class="font-semibold">condition physique</span> et
                    votre <span class="font-semibold">bien-être général</span> ? Ce programme est fait pour vous.
                </div>

                <div>
                    Je
                    commence toujours par évaluer votre
                    niveau de condition physique et vos objectifs personnels afin de créer un programme
                    d'entraînement
                    sur mesure qui vous convient le mieux.
                </div>
            </div>
        </div>
        <div class="w-[30rem] bg-white rounded-xl h-[30rem] flex justify-center items-center flex-col m-3">
            <div class="py-5"><fa-icon [icon]="faDumbbell" size="xl"></fa-icon></div>
            <div class="text-blue-600 font-semibold">Préparation physique</div>
            <div class="py-5 text-gray-600 w-[80%]">
                <div class="pb-2">
                    Vous cherchez à développer vos <span class="font-semibold">capacités</span> pour un concours
                    d'entrée
                    à
                    la
                    police, à l'armée, une
                    compétition ou tout autre chose ?
                </div>
                <div>
                    Je mettrai en place un programme <span class="font-semibold text-blue-400">adapté</span> et
                    <span class="font-semibold text-blue-400">unique</span> pour vous aider
                    à atteindre vos objectifs.
                </div>

            </div>
        </div>
        <div class="w-[30rem] bg-white rounded-xl h-[30rem] flex justify-center items-center flex-col m-3">
            <div class="py-5"><fa-icon [icon]="faGroup" size="xl"></fa-icon></div>
            <div class=" text-blue-600 font-semibold">Coaching en groupe</div>
            <div class="text-gray-600 w-[80%] py-5">
                <div class="pb-2">
                    Vous recherchez du coaching en groupe pour votre entreprise ou
                    vous
                    voulez vous lancer dans le sport avec une connaissance et vous avez besoin de coaching ?
                </div>
                <div>
                    Prenez contact sans plus attendre pour en savoir plus sur le fonctionnement.
                </div>
            </div>
        </div>
    </div>


</div>